body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    float:left;
    width: 100%;
    background-color: hsla(47, 18%, 76%, 0.9);
}

header {
    text-align: center;
    padding: 15px;
}
    
.bgimage {
    background-image: url("../images/flamingPepper.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.textorange {
    color: orangered

}

.wordbox {
    text-decoration-line: underline;
    font-size: 16px;
    letter-spacing: 1em;
    margin-top: 10%;
    margin-bottom: 20%;
    margin-right: 45%;
    margin-left: 5%;
    padding: 10%;
    border: 2px solid gray;
}

.list-group-item.active {
    background-color: red;
}